html {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.header img {
  width: 100px;
}
.header img:hover {
  transition: all 0.5s ease;
  filter: invert(1);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  height: 17vh;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .imagen-hero {
    display: none;
  }
  .info {
    margin-top: 20vh;
  }
  .info a {
    white-space: nowrap;
    width: 3000px;
    border: none;
  }
  #hero {
    justify-content: center;
    align-items: center;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10%;
  white-space: nowrap;
}
ul li a {
  color: #d7d3d3;
  text-decoration: none;
  font-size: 16px;
}
ul li a:hover {
  transition: all 0.5s ease;
  color: #fff;
}
#hero {
  display: flex;

  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding: 0 10vw;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.imagen-hero {
  margin-top: 5vh;
  width: 500px;
  animation: move 10s linear infinite;
}
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 480px;
  gap: 30px;
}
.info h1 {
  font-size: 60px;
  font-weight: 800;
  color: #00ffd4;
}
.info p {
  color: #d7d3d3;
  font-size: 18px;
}
.info a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  border: solid 1px #fff;
  width: 270px;
  text-align: center;
  padding: 7px 0;
}
.info a:hover {
  transition: all 0.5s ease;
  background: #09e1bd;
  border-radius: 3px;
  color: #000;
}

#marcas {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d7d3d3;
  gap: 50px;
  padding-top: 20px;
}
.marcas {
  display: flex;
  width: 100%;
  height: 30vh;
}
.cajon-marcas img {
  width: 120px;
}
.cajon-marcas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  animation: carril 20s linear infinite;
}
@keyframes carril {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
#marcas h2 {
  font-weight: 500;
  text-decoration: underline;
  color: #828282;
}

#What-We-Do {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 50px;
  padding-top: 20px;
}
#What-We-Do h2 {
  font-weight: 500;
  text-decoration: underline;
  color: #828282;
}
.tools-padre {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  gap: 80px;
}
.tools-hijo img {
  width: 100px;
}
.tools-hijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 50px;
  padding: 0 5px;
}
#How-We-Work {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #0a007e;
}
#How-We-Work h2 {
  font-weight: 500;
  text-decoration: underline;
  color: #828282;
  padding-top: 20px;
}
.info-productos p {
  padding-top: 20px;
  font-size: 50px;
  font-weight: 800;
  color: #b6b4b4;
}

.precios-padre {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
  padding: 0 35px;
}
.precios-hijo {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.precios-hijo h3 {
  font-size: 20px;
  color: rgb(131, 131, 131);
  padding-top: 10%;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 200;
}
.precios-hijo p {
  color: rgb(132, 130, 130);
  font-size: 16px;
}
.precios-hijo a {
  margin-top: 30%;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background: #4b4d4c;
  width: 250px;
  border-radius: 3px;
  padding: 5px 0;
}
.precios-hijo span {
  color: #828282;
  font-size: 25px;
  font-weight: 700;
}
#Meet-Our-Team {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  flex-direction: column;
}
.info-marcas {
  color: #828282;
  font-weight: 200;
  text-align: center;
}
.caras-padre {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.caras-hijo {
  display: flex;
  flex-direction: column;
}
.caras-hijo img {
  width: 300px;
  border-radius: 3px;
}
.caras-hijo span {
  color: #6a11cb;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}
.caras-hijo p {
  color: #828282;
  font-size: 16px;
}
#We-love-Open-Source {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: column;
}
.bandera-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bandera img {
  width: 300px;
}
.bandera-info p {
  font-size: 70px;
  font-weight: 700;
}
.bandera-info a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
  border: solid 1px #000;
  width: 350px;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 10px;
}
footer {
  background-color: #0a007e;
}
.footer-info {
  color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  font-weight: 200;
}
.footer-info ul {
  list-style: none;
}
.footer-info li {
  padding: 5px;
}
@media screen and (max-width: 390px) {
  #hero {
    padding: 0 10px;
    margin-left: 0;
  }
  #hero h1 {
    font-size: 50px;
  }

  .footer-info {
    padding: 30px 0px;
  }
}
